on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - uses: Azure/docker-login@v1
      with:
        login-server: acrc2zegvu7zemng.azurecr.io
        username: acrc2zegvu7zemng
        password: fmdPwgET16HQLz3OWzu9QG=jifqduJ7e
          
    - run: |
        docker tag dockerfile acrc2zegvu7zemng.azurecr.io/mydocker
        docker push acrc2zegvu7zemng.azurecr.io/mydocker
        
      
